<div class="row start-row">
    <app-start-button (click)="setupGame()"></app-start-button>
</div>
<div class="row start-row">
    <app-score-board [playerWinCount]="playerWinCount" 
                    [bankerWinCount]="bankerWinCount" 
                    [tieCount]="tieCount" 
                    [tieProb]="tieProb"
                    [playerWinPct]="playerWinPercentage"
                    [bankerWinPct]="bankerWinPercentage"
                    [tiePct]="tiePercentage">
    </app-score-board>
</div>
<div class="row hand-row">
    <div class="col-md">
        <app-hand [hand]="hand.playerCards" [boardName]="'Player'" [value]="playerValue" [prob]="playerProb"></app-hand>
    </div>
    <div class="col-md">
        <app-hand [hand]="hand.bankerCards" [boardName]="'Banker'" [value]="bankerValue" [prob]="bankerProb"></app-hand>
    </div>
</div>