<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">John Smith</h5>
                <h6 class="card-subtitle mb-2 text-muted">$157</h6>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
                <app-tie-bet-card></app-tie-bet-card>
                <app-banker-bet-card></app-banker-bet-card>
                <app-player-bet-card></app-player-bet-card>

            </div>
        </div>
    </div>
</div>